<nav class="navbar navbar-expand-lg navbar-light Nav">
  <img class="Logo" src="Monochrome Modern Technology Black Logo.png" alt="">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Expense">Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Budget">Budget</a>
            </li>


            <div class="AccountSetup">
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                    <li class="nav-item  mb-2 p-2">
                        <a class="nav-link  font-weight-bold" href="/Login">Login</a>
                    </li>
                    <li class="nav-item mb-2 p-2">
                        <a class="nav-link  font-weight-bold" href="/Signup">SignUp</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>